<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%newlineBEGIN LOG MESSAGE%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newlineEND LOG MESSAGE%newline%newline" />
    </layout>
  </appender>
  <appender name="LogMongoDBAppender" type="LogMongoDB.MongoDBAppender, LogMongoDB">
    <ConnectionStringName value="logerror" />
    <collectionName value="logs" />    
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="LogMongoDBAppender" />
  </root>
</log4net>